{% extends "userprofile/profile.html" %}
{% block style%}
.searchcontainer{
      position: relative;
      top: 100px;
      left:450px;
    }
#title{
      position: relative;
      top:100px;
      left:750px;
    }
#else{
  position: relative;
  top:100px;
  left:625px;
  font-size:20px;
}
.search-results{
      width:800px;
      min-height:100px;
      border-color:black;
      border-width: 2px;
      border-style:solid;
      padding:20px;
    }
    .personal{
      display:inline-block;
    }
    em{
      font-weight:bold;
    }
    .star{
      padding:5px;
    }
  
    .personal p{
      padding:5px;
    }
    .service-content p{
      padding:5px;
    }
    .checked {
        color: orange;
    }
    .des{
      text-align:justify;
    }

{% endblock %}

{% block content %}
  <h1 id="title"> Your Cart</h1>
{% if cartobj %}
<div class="searchcontainer">
      {% for s in cartobj %}
      <br/>
        <div class="search-results">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile_pic" style="width:100px; height:120px;">
              <div class="personal">
                  
           <p class="name"> <em>Name :</em> {{s.first_name}} {{s.last_name}} </p>
           <p class="email"><em> Email Id :</em> {{s.email}} </p>
           <p class="num"> <em> Mobile Number: </em>{{s.mobile_num}} </p>
           <p class="location"><em> Location : </em> {{s.location}}</p>
        </div>
        <p class="rate" style="float:right"><em>Dollar Per Hour : </em> {{s.hourly_rate}}
         <p class="star"> <em> Ratings :</em> 
            {% if s.ratings == 1 %}
            <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          {% endif %}
          {% if s.ratings == 2 %}
            <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          {% endif %}
          {% if s.ratings == 3 %}
            <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          {% endif %}
          {% if s.ratings == 4 %}
            <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          {% endif %}
          {% if s.ratings == 5 %}
            <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          {% endif %}

        </p>
         <div class="service-content">
            <p class="service"><em> Services : </em> {{s.service}}</P>
          <p class="skills"> <em> Skills : </em> {{s.skills}} </p>
          <p class="des"><em> Description : </em>{{s.description}}</p>
         </div>
         <object> <a href="{% url 'user_cart' s.id %}" class="btn btn-primary" role="button">Remove from Cart</a></object>
        </div>
       {% endfor %} 
{% else %}
<br/>
<p id="else" width = "100%"> No Providers have been added to your Cart yet</p>
{%endif%}
       <br/>
             <br/>
             <div> </div>

{% endblock%}